body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 80px;
}
#logo{
    height: 90px;
    width: auto;
    padding-bottom: 2em;
    float: left;
}
#btn{
    height: 3em;
    text-align: center;
    font-weight: 700;
    background-color: #233D4D;
    width:5em;
    border: none;
    color: #ffffff;
    border-radius: 10px;
}
#btn2{
    height: 3em;
    text-align: center;
    font-weight: 700;
    background-color: #233D4D;
    width:5em;
    border: none;
    color: #ffffff;
    border-radius: 10px;
}
