{% extends 'base.html' %}
{% load static %}
<script>
    {% block jquery %}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:[
            {% for r in rain%}
            {% if forloop.last %}
            "{{ r.date}}"
            {% else %}
            "{{ r.date}}",
            {% endif %}
            {% endfor %}
        ],
        datasets: [{
            label: 'Rain(mm)',
            fill:false,
            data: [
                {% for r in rain %}
                {% if forloop.last %}
                "{{ r.amount }}"
                {% else %}
                "{{r.amount}}",
                {% endif %}
                {% endfor %}
            ],
            borderColor: '#233D4D',
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        title: {
                    display: true,
                    text: "Rainfall Time series Chart"
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    {% endblock %}
    </script>

{% block content %}
<div class="row">
<div class="col-8">
        <img src="https://i.ibb.co/YQ8SNJK/raindroplogo.png" alt="raindroplogo" id="logo" />
</div>
<div class="col-4"></div>
</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <form method="POST" class="post-form" style="display: flex; justify-content: space-around;">
                        {% csrf_token %}
                        <input type="date" class="input" value={{form.date }}
                        <input type="number" class="input" placeholder="Rain (mm)" value={{ form.amount}}
                        <button type="submit" style="margin-left: 2em" id="btn">Submit</button>
                    </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top: 3em;">
        <div class="col-2"></div>
        <div class="col-8"><canvas id="myChart" width="400" height="150"></canvas></div>
        <div class="col-2"></div>
    </div>
<div class="range-filter">
    <div class="row" style="display: flex; justify-content:center; margin-top: 20px;">
<h3>Filters</h3>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<form method="get" style="display: flex; justify-content: space-around;  margin-top: 20px;">

        <input type="date" name="startDate" class="input" value="{{ startDate }}">

        <input type="date" name="endDate" class="input" value="{{ endDate }}">

    <button type="submit"   id="btn2">Filter</button>
    <a href="{{ request.path }}" class="btn btn-outline-danger" style="text-align: center">Reset Filters</a>
</form>
</div>
<div class="col-md-2"></div>
</div>
</div>
{% endblock content %}